@media only screen and (max-width: 1002px) {

  .fab,
  .fas {
    font-size: 1em;
  }

  .left {
    background-image: url(/images/bg-intro.svg);
 background-repeat: no-repeat;
  }

  .innerContent {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
  }

}